.workout-show-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.workout-details {
  flex-grow: 1;
}

.workout-data {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.workout-data table {
  border-top: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  background: -webkit-linear-gradient(to bottom, $lighter-gray 1%, $lightest-gray 80%);
  background: -o-linear-gradient(to bottom, $lighter-gray 1%, $lightest-gray 80%);
  background: -moz-linear-gradient(to bottom, $lighter-gray 1%, $lightest-gray 80%);
  background: linear-gradient(to bottom, $lighter-gray 1%, $lightest-gray 80%);
  width: 100%;
}

.workout-data th,
.workout-data td {
  padding: 5px 15px;
  vertical-align: top;
  font-size: 12px;
  color: $gray;
}

.workout-data td.stats {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: black;
}


.workout-data td.avatar,
.workout-data td.date {
  padding: 10px 0;
}

.workout-data td span {
  display: block;
}

.workout-data td div.username {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  color: black;
}

.workout-data td small {
  font-size: 12px;
  color: $gray;
  vertical-align: middle;
}
.workout-data img {
  width: 65px;
  height: auto;
}

.workout-data .fit {
  white-space: nowrap;
  width: 1px;
}

.workout-map-box {
  margin: 10px 0;
}

.workout-map-box figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  color: $dark-gray;
  border: 1px solid $gray;
  border-top: 0;
  padding: 10px;
}

.workout-map-box figcaption a {
  color: $blue;
}

.workout-show-buttons {
  // text-align: right;
  box-sizing: border-box;
  border: 1px solid $light-gray;
}

.workout-show-buttons td {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.workout-index-link {
  margin-left: auto;
  margin-right: 10px;
  color: $blue;
  font-size: 14px;
}

.workout-show-buttons .orange-button {
  margin-left: 10px;
  padding-top: 10px;
}

.comments-likes h2 {
  padding: 10px 0;
}

.workout-likes {
  padding: 10px 0;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 10px;
}

.workout-comments {
  // margin: 10px 0;
}

.workout-comments li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
}

.comment-author-avatar {
  width: 50px;
  height: 50px;;
}

.comment-details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.comment-author {
  color: $blue;
  font-weight: bold;
  font-size: 14px;
}

.comment-details button {
  color: $blue;
  font-weight: bold;
  font-size: 12px;
}

.comment-body {
  flex-basis: 100%;
  font-size: 14px;
}


.workout-sidebar{
  border: 1px solid red;
  width: 25%;
  margin: 10px;
}
