section.activity-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity-feed-main {
  width: 70%;
  margin-left: 0;
}

.activity-feed-main article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 40px;
}

.activity-feed-main article > .avatar {
  width: 65px;
  height: auto;
  border: 1px solid $gray;
}

.activity-feed-main article > section {
  margin: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 1px 0 $gray;
}

.activity-feed-main article > section > span {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-feed-main article > section > .user-action,
.activity-feed-main article > section > .comment-section {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  padding: 15px;
  font-size: 12px;
  letter-spacing: 1px;
}

.activity-feed-main article > section > .user-action{
  border-top: 1px solid $gray;
}

.activity-feed-main article > section > .user-action i {
  font-size: 25px;
  color: $gray;
}

.activity-feed-main article > section > .comment-section{
  border-bottom: 1px solid $gray;
  background: $lightest-gray;
}

.activity-feed-main article.route > section > figure {
  border: 1px solid $light-gray;
}

.activity-feed-main article.route > section > figcaption {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $lightest-gray;
  border: 1px solid $gray;
  border-left: 0;
}

.activity-feed-main article.route > section > figcaption > i,
.activity-feed-main article.workout span.feed-workout-details i {
  font-size: 22px;
  color: $blue;
  margin: 5px 0;
}

.activity-feed-main article.route > section > figcaption > strong {
  font-size: 32px;
}

.activity-feed-main article.route > section > figcaption > small,
.feed-workout-details > figure small {
  font-size: 12px;
  color: $gray;
  letter-spacing: 2px;
}


.activity-feed-main article.workout span.feed-workout-details {
  border: 1px solid $gray;
  background: $lightest-gray;
  height: 120px;
  align-items: stretch;
}

.activity-feed-main article.workout span.feed-workout-details > figure {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $gray;
}

.activity-feed-main article.workout span.feed-workout-details > figure:last-of-type {
  border-right: 0;
}

.activity-feed-main article.workout span.feed-workout-details > figure strong {
  font-size: 20px;
}

.activity-feed-main article.workout span.feed-workout-details .fa-fighter-jet {
  color: $orange;
}

.activity-feed-main article.workout span.feed-workout-details .fa-clock-o {
  color: $light-green;
}

.activity-feed-main article.workout span.feed-workout-details figure div,
.activity-feed-main article.workout span.feed-workout-details figure strong {
  margin-top: 10px;
}

.activity-feed-main article > section > .comment-section > strong {
  font-size: 12px;
}

.activity-feed-main article > section > .comment-section > strong .fa-commenting-o {
  font-size: 14px;
}

.has-comments {
  color: $blue;
  font-weight: bold;
}

.activity-feed-main article section .comment-section-items {
  border: 1px solid $gray;
  border-top: 0;
  padding: 10px;
}

.activity-feed-main article section .comment-section-items .workout-comments {
  font-size: 12px;
  width: 100%;
  border: 0;
}

.activity-feed-main article section .comment-section-items .workout-comments .comment-details {
  height: 50px;
}

.activity-feed-sidebar {
  width: 30%;
}

.activity-feed-user-profile,
.activity-feed-friends {
  border: 1px solid $gray;
  background: $lightest-gray;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  box-shadow: 1px 1px 1px 0 $gray;
}

.activity-feed-user-profile .avatar {
  width: 90px;
  height: auto;
}

.activity-feed-user-profile .user-name {
  padding: 10px;
  letter-spacing: 2px;
  font-family: 'PT Sans Narrow', sans-serif;
  flex-grow: 1;
}

.activity-feed-user-profile .user-name hr {
  margin: 5px 0;
  background: $light-gray;
  height: 1px;
}

.activity-feed-user-profile .user-name small {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.activity-feed-user-profile .user-options {
  flex-basis: 100%;
  display: flex;
  border-top: 1px solid $gray;
}

.activity-feed-user-profile .user-options a {
  font-size: 14px;
  color: $light-blue;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
}

.activity-feed-user-profile .user-options a:last-of-type {
  border-left: 1px solid $gray;
}


.activity-feed-friends-header {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.activity-feed-friends h3 {
  font-size: 10px;
  color: $gray;
}

.activity-feed-friends-options {
  font-size: 10px;
  color: $blue;
}

.activity-feed-friends-thumbnails {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-feed-friends-thumbnails > ul {
  flex-basis: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
}

.activity-feed-friends-thumbnails > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 5px 0;
  flex-basis: 25%;
}

.activity-feed-friends-thumbnails > ul > li > img.friend-avatar {
  height: 50px;
  width: 50px;
  margin-right: 0;
}

.activity-feed-friends-thumbnails > ul > li > small {
  flex-basis: 100%;
  font-size: 10px;
  color: $gray;
  text-align: center;
}
