header, .nav-main, .nav-bar, .nav-bar-links, .profile, .nav-logo, .nav-bar-links li {
  /*border: 1px solid red;*/
}

.nav-main, .nav-bar, .nav-bar-links, .shortcut-main {
  display: flex;
  /*padding: 10px;*/
  box-sizing: border-box;
}

header {
  /*border-bottom: #dbdbdb solid 1px;*/
}

.nav-main {
  justify-content: space-between;
  flex-direction: row;
  min-width: 400px;
  max-width: 960px;
  margin: auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}

h1.nav-logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #2f98d9;
  padding-bottom: 8px;
  cursor: pointer;
}


.nav-bar-links {
  display: flex;
  justify-content: space-evenly;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #9297a3;
  width: 300px;
  text-align: center;
}

.nav-bar-links li:hover {
  color: black;
  cursor: pointer;
}

.profile {
  width: 34px;
  border: #dbdbdb 1px solid;
}


/*To delete*/
.shortcut-main, .shortcut-bar, .shortcut-bar-links li {
  /*border: 1px solid red;*/
}
/*To delete*/


.shortcut-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  background: #f2f2f2;
  border-top: #dbdbdb solid 1px;
  border-bottom: #dbdbdb solid 1px;
}

.shortcut-bar {
  min-width: 400px;
  max-width: 960px;
  width: 960px;
}

.shortcut-bar-links {
  display: flex;
  justify-content: space-evenly;
}

.shortcut-bar-links li {
  flex-grow: 1;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: #9297a3;
  padding: 10px 0;
  border-left: #dbdbdb solid 1px;
}

.shortcut-bar-links li:last-of-type {
  border-right: #dbdbdb solid 1px;

}
