// colors.scss

/*To delete*/
.products-bar, .links-bar, .iphone-image, .social-links, .about-us-links, .fitness-community-links, .legal-bar, .mobile-app-bar {
}
/*To delete*/

footer {
  box-sizing: border-box;
}

.mobile-app-bar, .mobile-app-bar ul, .products-bar, .products-bar ul, .links-bar, .legal-bar, .legal-bar ul {
  display: flex;
}

.mobile-app-bar, .products-bar, .links-bar, .legal-bar {
  min-width: 400px;
  max-width: 960px;
  margin: auto;
}

.mobile-app-bar {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  justify-content: flex-end;
}

.mobile-app-bar li:first-of-type {
  width: 300px;
  text-align: right;
  margin-right: 5px;
}

.mobile-app-icon {
  width: 140px;
}

.mobile-app-icon:last-of-type {
  margin-right: 5px;
}

.products-bar ul {
  font-family: Armour-Condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.products-bar ul li {
  flex-grow: 1;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.mapmyrun-link {
  font-size: 18px;
  color: #0076C0;
}

.fitness-link {
  color: #0158a3;
}

.walk-link {
  color: #7500b5;
}

.ride-link {
  color:#c90202;
}

.hike-link {
  color:#008222;
}

.links-bar {
  font-family: 'PT Sans Narrow', sans-serif;
}

.links-bar ul {
  padding: 10px;
}

.links-bar ul li {
  font-weight: 100;
  font-size: 14px;
  color: #9297a3;
}

.links-bar ul li:first-of-type {
  color: white;
  margin: 5px 0;
}

.fitness-community-links {
  flex-grow: 2;
  text-align: right;
}

.products-bar-background {
  background: #e8e8e8;
}

.links-bar-background {
  background: #1e1e1e;
  color: white;
}

.legal-bar {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: #9297a3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legal-bar strong {
  font-family: 'Syncopate', sans-serif;
  font-size: 20px;
  color: black;
  padding-top: 15px;
  padding-bottom: 5px;
}

.legal-bar ul li {
  border-right: #9297a3 solid 1px;
  padding: 0 10px;
}

.legal-bar ul li:last-of-type {
  border-right: none;
}
