.route-index-container div {
  display: flex;
  justify-content: space-between;
}


.route-index-container h2 {
  font-size: 20px;
  font-weight: 600;
}

.create-route-button {
  background: -webkit-linear-gradient(to bottom, #ff9628 5%, #ff8714 100%);
  background: -o-linear-gradient(to bottom, #ff9628 5%, #ff8714 100%);
  background: -moz-linear-gradient(to bottom, #ff9628 5%, #ff8714 100%);
  background: linear-gradient(to bottom, #ff9628 5%, #ff8714 100%);
  border-radius: 3px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.route-index-table {
  font-size: 14px;
  width: 100%;
  // table-layout: fixed;
}

div[id*='route-thumbnail'] {
  border: $gray solid 1px;
  margin: auto;
}

.route-index-table th,
.route-index-table td {
  border: $light-gray solid 1px;
  padding: 10px;
  overflow: visible;
  vertical-align: middle;
}

.route-index-table th {
  background-color: $lightest-gray;
}

.route-index-item-options {
  display: flex;
  flex-direction: column;
}

.search-and-sort {
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
  border-top: $light-gray 1px solid;
  border-bottom: $light-gray 1px solid;
}

.route-sort-options {
  background: #ffffff;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin: 10px 0;
  margin-left: auto;
}

.route-search-input {
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  color: black;
  caret-color : black;
  letter-spacing: .05em;
}

.route-search-input:focus {
  background: #ffffff;
  border: #0076C0 solid 1px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 0 2px #addfff;
}

.route-search-button {
  background: $light-blue;
  border-radius: 3px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin: 10px;
}

.route-search-reset {
  color: $blue;
  font-size: 14px;
}

.paginator {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.active-page-link, .inactive-page-link {
  padding: 0 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  margin: 0 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-page-link {
  color: $blue;
  border: $blue solid 1px;
}

.inactive-page-link {
  color: $light-gray;
  border: $light-gray solid 1px;
}
