/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import 'colors.scss';

 /*
 *= require_self
 *= require font-awesome
 */

/* everything in this folder and in subfolders */
 @import './**/*';

 section[class$="-container"] {
   min-width: 400px;
   width: 960px;
   margin: 50px auto;
   padding: 0 10px;
   box-sizing: border-box;
 }

  section[class$="-container"] h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
  }

  // .workout-index-sidebar {
  aside[class*="-sidebar"] {
    width: 25%;
    padding: 10px;
    padding-top: 0;
  }

  .message {
    padding: 10px 0;
    text-align: left;
    display: block;
  }

  .message a {
    color: $blue;
  }
