$light-green: #97bf11;

$lightest-gray: #f9f9f9;
$lighter-gray: #e8e8e8;
$light-gray: #dbdbdb;
$gray: #9297a3;
$dark-gray: #1e1e1e;
// $blue: #2f98d9;
$blue: #0076C0;
$light-blue: #2f98d9;

$orange: #ff9628;

$beige: #ffe8bc;
